@page "/Destiny2Test"
<h3>Destiny2Player</h3>
@using Radzen.Blazor;
<Radzen.Blazor.RadzenCard>
    <div class="row">
        <div class="col-md-6">
            <div>Player</div>
            <b>@Player.Response[0].DisplayName</b>
            <div style="margin-top:20px"></div>
            <b>@Player.Response[0].MembershipId</b>
            <br />
            <RadzenImage Path="@Player.Response[0].IconPath" Style="width:100px;" />
        </div>
        <div class="col-md-6">
            <div>@Player.Response[0].MembershipType</div>
        </div>
    </div>
</Radzen.Blazor.RadzenCard>
